.catalogPage {
    &__inner {
        .topCategory {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 30px 0;
            a {
                display: block;
                width: 165px;
                height: 182px;
                background: #F9F9F9;
                border-radius: 5px;
                position: relative;
                .flowersImg {
                    width: 90%;
                    margin: 0 auto;
                    height: 140px;
                }
                .actionsClick {
                    background: #fff;
                    width: 90%;
                    margin: 0 auto;
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 5px;
                    padding: 8px 5px;
                    i {
                        display: block;
                        min-width: 8px;
                        height: 8px;
                        background: #c14e77;
                        border-radius: 50%;
                    }
                    p {
                            font-family: "Roboto", sans-serif;
                            text-align: left;
                            font-size: 16px;
                            font-weight: 400;
                            color: #414141;
                    }
                }
            }
        }
    }
}